@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


/* GRID */

.calendar .row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border: 1px black;
}

.calendar .row-middle {
  align-items: center;
}

.calendar .col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.calendar .col-start {
  justify-content: flex-start;
  text-align: left;
}

.calendar .col-center {
  justify-content: center;
  text-align: center;
}

.calendar .col-end {
  justify-content: flex-end;
  text-align: right;
}

/* Calendar */

.calendar {
  display: block;
  position: relative;
  background: var(--neutral-color);
  border: 1px black;
  background: white;
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px black;
  background: 	#FFC0CB;
}

.calendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  padding: .75em 0;
  border: 1px black;
}

.calendar .body .cell {
  position: relative;
  height: 5em;
  border: 1px black;
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  background-color: #8FBC8F;
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  background: #87CEEB;
}

.calendar .body .currentDay {
  border-left-color: red;
  background: #F08080;
}

.calendar .body .currentDaySelected {
  border-left: 20px solid#F08080;
  background-color: #87CEEB;
}

.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
  color: black;
}

.calendar .body .disabled {
  color: black;
  background-color: lightgray;
  pointer-events: none;
}

.calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}


.calendar #view-task{
  width: 100%;
}

.calendar #task-title{
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}


.calendar #container{width:100%}
.calendar #left{float: left; width: 25%; text-align: center;}
.calendar #right{float: right; width: 25%; text-align: center}
.calendar #center{
  margin:0 auto !important; 
 display:inline-block;
 width: 50%;
 text-align:center}
 .calendar #right.orange{
  background-color: darkorange;
}
 .calendar #right.yellow{
  background-color: darkkhaki;
}
 .calendar #right.red{
   background-color: red;
 }

 .calendar #right span{
   color: black;
 }

