#modal-calendar {
    display: inline-block;
}
#modal-calendar li {
    list-style: none;
}
#modal-calendar input {
    border-radius: 5px;
}

#modal-calendar form{
    background-color: white;
}
/*.shadow-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    width: 618px;
    height: 400px;
} */

#modal-calendar .modal-dialog{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 25%;
    left: 25%;
    background: rgba(0,0,0,0.3);
    z-index: 999;
    border: 1px solid #888;
}
#modal-calendar .modal-content{
  position: absolute;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
  animation-name: animatetop;
  animation-duration: 0.4s
}
#modal-calendar .btn-default {
    position: absolute; 
    height: 35px;
   width: 80px;
    border-radius: 10px;
    background-color:red;
    color: white;
    font-weight: bold;
    border:10;
    outline: 10;
    float: right;
    margin: 0;
    right: 0px;
    padding: 0px;
}
#modal-calendar .modal-footer {
    height: 15%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
#modal-calendar .submit{  
   position:absolute;  
   height: 35px;
   width: 80px;
   border-radius: 10px;
   background-color:#0a8cdd;
   color: white;
   font-weight: bold;
   border:10;
   outline: 10;
   margin-right: 10%;
   margin: 0;
   right: 15%;
   padding: 0px;
}
#modal-calendar .close{
    position:absolute;
    left:95%;  
    top:5%;  

}