body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#leftLog, #rightLog {
  height: 100vh;
  width: 50vw;

}

#leftLog {
  background: url("../images/bg2.jpg") no-repeat;
}

.signup {
  position: fixed;
  left: 50px;
}

#birdPic{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 10%;
}

#axBP{
  height: 101%;
  width:101%;
}
#rightLog {
  background-color: white;

}

p {
  color: white;
  font-family: /*'Tinos', serif*/ Helvetica Neue,Helvetica,Arial,sans-serif;
  font-style: italic;
  font-size: 130%
}

h1{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  /*font-family: 'Tinos', serif;*/
}
