body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#leftLog, #rightLog {
  height: 100vh;
  width: 50vw;

}

#leftLog {
  background-color: rgba(122, 188, 255, 1) 0%,;
}

.signup {
  position: fixed;
  left: 50px;
}

#rightLog {
  background-color: white;
}

p {
  color: white;
  font-family: 'Tinos', serif;
  font-style: italic;
  font-size: 130%
}

h1{
  font-family: 'Tinos', serif;
}
