html, body, #root, #wrapper,.box {
    margin: 0;
    height: 100%;
    }
    li {
    list-style: none;
    }
    input {
    border-radius: 5px;
    }
    .leftbar ul {
    padding: 0px;
    }
    .leftbar li {
    padding: 10px;
    }
    .leftbar {
    background-color: #212e3e;
    width: 50px;
    height: 100%;
    color:grey;
    padding: 0px;
    text-align: center;
    position: absolute;
    }
    .container {
    height: 100%;
    width: 100%;
    width: calc(100% - 100px);
    background: linear-gradient(#1f94bf 20%,#edf5f8 0, #edf5f8 80%, #1f94bf 0);
    display: flex;
    margin: 0;
    float: right;
    }
    .chatbox {
    /* margin: auto;
    height: 70%;
    width: 70%;
    transform: translateY(-10%);
    box-shadow: 0 0 0 1px gray;
    display: flex; */
    }
    .chatbox {
    /* margin: auto; */
    height: 100%;
    width: 100%;
    transform: translateY(0%);
    box-shadow: 0 0 0 1px grey;
    display: flex;
    }
    .chatleft {
    background-color: #ffffff;
    width: 24%;
    left: 0;
    height: 100%;
    border-right: solid 0.5px #383838;
    background-color: #1f94bf!important;
    }
    .chatleft .top {
    height: 10%;
    color: grey;
    background-color: #F7F9F9;
    display: flex;
    align-items: center;
    padding-left: 20px;
    }
    .searchbtn {
    height: 36px;
    width: 36px;
    border-radius: 18px;
    background-color: #1f94bf;
    color: #ECF0F1;
    margin-left: 10px;
    }
    .searchbtn:hover {
    cursor: pointer;
    }
    .chatleft .center {
    overflow:hidden;
    height: 90%;
    }
    .chatleft .center ul{
    padding-left: 10px;
    padding-left: 0px;
    }
    .chatleft .center li{
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
    }
    .chatleft .center li:hover {
    background-color: #fff!important;
    }
    .chatleft .center li:hover span {
    color: #1f94bf;
    }
    .chooseUed {
    background-color: #1f94bf;
    }
    .chooseUed span{
    color: #fff;
    }
    .chatright {
    background-color: #ffffff;
    width: 75%;
    height: 100%;
    }
    .chatright .top {
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-bottom: solid 0.5px #383838;
    }
    .chatright .center {
    background-color: #edf5f8;
    height: 65%;
    overflow-y: scroll;
    background: red;
    }
    .chatright .center ul {
    padding: 10px;
    }
    .chatright .center li {
    margin: 10px;
    width: 100%;
    }
    
    .chatright .center p{
    display: inline-block;
    }
    .msgcard {
    margin: 0 10px 0 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    max-width: 60%;
    }
    
    .chatright .footer {
    position: absolute;
    right: 0%;
    bottom: 0%;
    height: 25%;
    width: 75%;
    background-color: white;
    text-align: right;
    text-align: center;
    }
    .sendbtn {
    height: 30px;
    width: 80px;
    border-radius: 10px;
    background-color: #1f94bf;
    color: white;
    font-weight: bold;
    margin:10px 20px 0 0;
    border:solid 1px #383838;
    margin-left: 10px;
    }
    
    #message-box {
    bottom: 0%;
    width: 80%;
    height: 20px;
    resize: none;
    border: solid 1px #383838;
    }
    
    .search-chatleft {
    border: solid 1px #383838;
    width: 140px;
    height: 20px;
    margin-left: 25px;
    margin-top: 8px;
    }
    
    .pic-user-left {
    border-radius: 20px;
    vertical-align: middle;
    }
    
    .pic-user-right{
    width: 4.5%;
    height:75%;
    border-radius: 20px;
    vertical-align: middle;
    margin-top: 8px;
    }
    
    .span-user-left{
    /* margin-left: 20px; */
    margin-left: 0px;
    }
    
    .username-right{
    margin-left: 20px;
    }
    
    .chat-position-right{
    margin-right: 3%;
    }