html, body, #root, #wrapper,.box {
    margin: 0;
    height: 100%;
    overflow-y:scroll;    
}
li {
    list-style: none;
}
input {
    border-radius: 5px;
}

.user-project{
    background-color: lightgrey;
    width: 300px;
    border: 15px solid silver;
    padding: 20px;
    margin: 10px;
    display:inline-block;
    /* width:30px;
    height:30px; */
    background-color:#ccc;
    border:1px solid #ff0000;
    align-content: center;
    align-items: center;
    
}

.span-project-mid{
    margin-left: 35%;
}