html, body, #root, #wrapper,.box {
    margin: 0;
    height: 100%;
    overflow-y:scroll;    
}
/* li {
    list-style: none;
} */
input {
    border-radius: 5px;
}

.user-project{
    background-color: lightgrey;
    width: 300px;
    border: 15px solid silver;
    padding: 20px;
    margin: 10px;
    display:inline-block;
    /* width:30px;
    height:30px; */
    background-color:#ccc;
    border:1px solid #ff0000;
    align-content: center;
    align-items: center;
    
}

.span-project-mid{
    margin-left: 35%;
}


.project ul li{
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 2px 24px 24px;
    display: inline-block;
    vertical-align: top;
    padding: 1px 1 1px 1px;
    width: 163px;
}

.project ul li a.deletebtn {
    border:inline;
    padding: 1px 0 20px 24px;
    background: url('../images/admin-tool.png') no-repeat right center;
}

.project ul li a{
    /* display: inline-block; */
  vertical-align: top;
  padding: 108px 0 12px 24px;
    background: url('../images/projectbackground.png') no-repeat left center;
}

.project-list{
    background: url('../images/projectbackground.png');
}
.addprojectbtn {
    display: block;
    color: #fff;
    background: #0e7fff;
    text-decoration: none;
    padding: 8px 50px;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    margin: 2em 0;
  }