html, body, #root, #wrapper,.box {
    margin: 0;
    height: 100%;
    /* overflow: hidden; */
}
/* li {
    list-style: none;
} */
input {
    border-radius: 5px;
}
.direct{
    padding: 20px;
    margin: 5px;

}
.user-task{
    display: block;
    background-color: lightgrey;
    width: 300px;
    border: 15px solid silver;
    padding: 120px;
    margin: 20px;
}

.category{
    display: block;
    border-style: inset;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    position: relative !important;
    background: silver !important;
    width: 30% !important
}
#add-task-button{
    background: #0084ff;
     color:white;
     text-align: center;
     width: 150px;
     height:40px;
     border: 0;
     position: relative;
     left:50%;
     margin-left:-75px;
     margin-top:50px;
}
.cat_task{
    display: block;
    padding: 10px;
    background: rgb(240, 234, 234) !important;
    margin: 10px;
    width: 20% !important;
    padding: 30px;
    border-radius: 8px 14px 14px 54px;
  -moz-border-radius: 8px 14px 14px 54px;
  -webkit-border-radius: 8px 14px 14px 54px;
  border: 13px solid #ebf1f5;

}
ul li{
    display: inline;
    /* margin-top: 2em; */

    /* position: relative !important;
    background: none !important;
    width: 100% !important;
     */
    /* padding: 20px;
    margin: 10px; */
}
.span-project-mid{
    display: block;
}
.taskform-header h4{
    display: block;
    text-align: center;
    color: white;
}
.taskform-group{
  margin-top:50px;
}
.taskform-field{
    margin-top:20px;
    text-align: center;
}
.taskform span{
    color:black;
}
.project-content{
    color:black;
}
.taskformbtn{
    background: #0084ff;
     color:white;
     text-align: center;
     width: 150px;
     height:40px;
     border: 0;
     position: relative;
     left:50%;
     margin-left:-75px;
     margin-top:40px;
}
