html, body, #root, #wrapper,.box {
    margin: 0;
    height: 100%;
    /* overflow: hidden; */
}
/* li {
    list-style: none;
} */
input {
    border-radius: 5px;
}

.user-task{
    display: block;
    background-color: lightgrey;
    width: 300px;
    border: 15px solid silver;
    /* padding: 20px;*/
    margin: 20px; 
}

.category{
    display: block;
    border-style: inset;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    position: relative !important;
    background: silver !important;
    width: 30% !important
}

.cat_task{
    display: block;
    padding: 10px;
    background: rgb(240, 234, 234) !important;
    margin: 10px;
    width: 20% !important

}


ul li{
    display: inline;
    /* margin-top: 2em; */
    
    /* position: relative !important;
    background: none !important;
    width: 100% !important;
     */
    /* padding: 20px;
    margin: 10px; */
}

.span-project-mid{
    display: block;
}