html, body, #root, #wrapper,.box {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
li {
    list-style: none;
}

.taskUpdate {
    margin-left: 15%;
    width:50%;
    background-color: white;
    align-items: center;
    border: 13px solid #ebf1f5;
    border-radius: 8px 14px 14px 54px;
    -moz-border-radius: 8px 14px 14px 54px;
    -webkit-border-radius: 8px 14px 14px 54px;
    padding: 30px;
}
.taskUpdate input,select {
    border: 1px solid black;
    border-radius: 5px;
}

.taskUpdate label{
    width:40%
}

.taskUpdate h4{
    text-align: center;
}

#duedate3{
    width: 250px;
    align-content: center;
    text-align: center;
}

#add_task_form {
    height: 30px;
    width: 20%;
    border-radius: 10px;
    background-color:#0a8cdd;
    color: white;
    font-weight: bold;
    border:10;
    outline: 10;
    float: center;
    margin-left: 35%;

} 

.taskUpdate-row{
    align-items: center;
}
/*.shadow-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    width: 618px;
    height: 400px;
} */
.taskUpdate .modal-dialog{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 5;
    border: 1px solid #888;
}
.taskUpdate .modal-content{
  position: absolute;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
  animation-name: animatetop;
  animation-duration: 0.4s;
  height: 200px;
}
.taskUpdate #btn-btn-default {
    position: absolute; 
    height: 35px;
    width: 10px;
    /* border-radius: 10px;
    background-color:red; */
    color: white;
    font-weight: bold;
    border:10;
    outline: 10;
    /* float: right; */
    margin: 0;
    /* right: 0px; */
    padding: 0px; 
}
.taskUpdate .modal-footer {
    height: 15%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.taskUpdate .modal-header{
    width: 100%;
    height: 100px;
}
.taskUpdate .submit{  
   /* position:absolute;  
   height: 35px;
   width: 80px;
   border-radius: 10px;
   background-color:#0a8cdd;
   color: white;
   font-weight: bold;
   border:10;
   outline: 10;
   margin-right: 10%;
   margin: 0; */
   /* right: 15%; */
   padding: 0px;
}

#updateTaskUpdate{
    font-family: inherit;
    height: 30px;
    width: 20%;
    border-radius: 10px;
    background-color:#0a8cdd;
    color: white;
    font-weight: bold;
    border:10;
    outline: 10;
    float: center;
}
#deleteTaskUpdate{
    font-family: inherit;
    height: 30px;
    width: 20%;
    border-radius: 10px;
    background-color:#0a8cdd;
    color: white;
    font-weight: bold;
    border:10;
    outline: 10;
    float: center;


}

#closeTaskUpdate{
    font-family: inherit;
    height: 30px;
    width: 20%;
    border-radius: 10px;
    background-color:#0a8cdd;
    color: white;
    font-weight: bold;
    border:10;
    outline: 10;
    float: center;

}

.taskUpdate .close{
    color:silver;
    position:absolute;
    /* left:95%;   */
    /* top:5%;   */
}