body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.leftside, .rightside {
   height: 100%;
   width: 100%;
   border: 2px solid black;
}


.leftside{
  background-color: #87cefa;

}

.rightside{
  background-color: white;
}

ul{list-style-type: none;
text-align: center;
}
ul li{display: inline-block;}
